* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'KoHo', sans-serif;
    color: whitesmoke;
}

body {
    background-color: #7E6CE6;
}

.title {
    text-align: center;
    margin: 20px 0 10px 0;
    color: #341EAC;
    text-shadow: 0 0 5px #331eac6b;
}

.subtitle {
    margin: 5px;
    text-indent: 20px;
    color: #4226E0;
}

.description {
    text-align: justify;
    margin: 5px 40px;
    text-indent: 5px;
    font-size: 1.2em;
    font-weight: 300;
}

.list {
    border: 3px solid #1D1061;
    border-radius: 5px;
    margin: 15px 40px;
    display: inline-block;
    padding: 10px 30px;
}

.list li {
    font-weight: 300;
    font-size: 1.05em;
    line-height: 30px;
}

.list-title {
    text-align: center;
    margin-bottom: 5px;
    color: #4226E0;
}

.list strong {
    text-decoration: underline;
}

.linkedin {
    display: inline-block;
    background-color: #1D1061;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 600;
    transform: translateY(-60px);
    box-shadow: 0 0 10px #1d106171;
}

.list2 li:nth-child(5) {
    text-decoration: line-through;
}

.description2 {
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
    font-style: italic;
}

[alt="luk4x-photo"] {
    display: block;
    margin: auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    margin-bottom: 20px;
}    